{% extends "base.html" %}
{% block content %}


    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              {% for posts in post %}
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                          {{posts.title}}


                    </a>
                    <p class="post-meta">Posted by <a href="#">{{posts.author}}</a> on {{posts.date_created}}</p>
                </div>
                <hr>
                {%endfor%}
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}
